body.theme-red {
	--body-bg-1: red;
	--body-bg-2: white;
	--body-bg-3: #800026;
	--navbar-bg: pink;
	--navbar-border: red;
	--navbar-shadow-1: red;
	--navbar-shadow-2: red;
	--logo: red;
	--logo-shadow: white;
	--nav: red;
	--nav-hover: white;
	--nav-bg-highlight: rgba(255, 0, 0, 0.2);
	--header: red;
	--header-bg-1: white;
	--header-bg-2: rgba(255, 255, 255, 0.8);
	--header-shadow: pink;
	--header-content: #ef3655;
	--content: #402323;
	--content-hover: #370f0f;
	--content-bg: rgba(255, 255, 255, 0.8);
	--content-hover-bg: rgba(250, 191, 191, 0.8);
	--content-border: rgba(255, 115, 115, 0.68);
	--content-hover-border: rgba(248, 41, 41, 0.85);
	--content-shadow: rgba(101, 1, 1, 0.48);
	--button-config: white;
	--button-config-bg-1: #3b82f6;
	--button-config-bg-2: #2563eb;
	--button-config-shadow: rgba(59, 130, 246, 0.4);
	--button-start: white;
	--button-start-bg-1: #22c55e;
	--button-start-bg-2: #16a34a;
	--button-start-shadow: rgba(34, 197, 94, 0.4);
	--button-stop: white;
	--button-stop-bg-1: #ef4444;
	--button-stop-bg-2: #dc2626;
	--button-stop-shadow: rgba(239, 68, 68, 0.4);
	--button-browse: white;
	--button-browse-bg-1: #667eea;
	--button-browse-bg-2: #5a67d8;
	--button-browse-shadow: rgba(6, 23, 80, 0.4);
	--button-remove: white;
	--button-remove-bg-1: #f87171;
	--button-remove-bg-2: #ef4444;
	--button-remove-shadow: rgba(239, 68, 68, 0.4);
	--table-header: red;
	--table-header-bg-1: pink;
	--table-header-bg-2: white;
	--table: black;
	--table-row-bg-1: #ffdfe5;
	--table-row-bg-2: white;
	--table-border: red;
	--input: #7c0202;
	--input-bg: #f8c7c7;
	--input-border: #ff4d4d;
	--status-running: #22c55e;
	--status-starting: #facc15;
	--status-stopped: #ef4444;
	--status-stopping: #f97316;
}